<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

  {{ partial "head.html" . }}

  <body id="page-top" class="index">
    {{ partial "nav.html" . }}

    <section id="portfolio">
      <div class="container">
        <div class="row equal">
          {{ $author := .Params.Team }}
          {{ range $.Site.Data.team }}
            {{ if eq .name $author }}
            {{ $url := printf "img/team/%s" .img }}
            <div class="col-xs-2 col-sm-1">
              <img src="{{ $url | absURL }}" class="img-rounded img-responsive" alt="{{ .name }}">
            </div>
            <div class="col-xs-10 blog-author text-left">
              <span class="blog-author-name">
                {{ .name }}
                {{ range .social }}
                  <a href="{{ index . 1 }}"><i class="fa {{ index . 0 }}"></i></a>
                {{ end }}
              </span>
              <br>
              <span class="blog-author-position small">{{ .position }}</span><br>
            {{ end }}
          {{ end }}
              <span class="blog-time-date small">{{ .Date.Format "January 02, 2006" }}. About a {{ .ReadingTime }} minute read.</span>
          </div>
        </div>
        <div class="col-xs-12" style="height:10px;"></div>
        <div class="row">
          {{ if .Params.fullheadimg }}
          <div class="col-xs-12">
            {{ $url := printf "img/%s" .Params.fullheadimg }}
            <img src="{{ $url | absURL }}" class="img-responsive center-block">
          </div>
          {{ else if .Params.halfheadimg }}
          <div class="col-xs-6">
            {{ $url := printf "img/%s" .Params.halfheadimg }}
            <img src="{{ $url | absURL }}" class="img-responsive center-block">
          </div>
          <div class="col-xs-6 text-left">
            <h2 class="section-heading">{{ .Title }}</h2>
          </div>
          {{ else }}
          <div class="col-xs-12 text-left">
            <h2 class="section-heading">{{ .Title }}</h2>
          </div>
          {{ end }}
        </div>
        <div class="row">
          <div class="col-lg-12 text-justify">
            {{ .Content }}
          </div>
      </div>
    </section>
    {{ if .Site.Params.footer.enable }}
      {{ partial "footer.html" . }}
    {{ end }}

    {{ partial "js.html" . }}
  </body>
</html>
