{{ "<!-- Hero -->" | safeHTML }}
<header>
  <div class="container">
    <div class="row">
      <div class="intro-text">
        <div class="intro-slogan">
        Turn researchers who fight childhood cancer into data wizards.
        </div>
    </div>
    </div>
    <div class="row hidden-sm hidden-xs">
      <div class="col-md-offset-8 col-md-4 intro-statement">
        <div class="intro-lead-in">{{ with .Site.Params.hero.lede }}{{ . | markdownify }}{{ end }}</div>
        <div class="intro-heading">{{ with .Site.Params.hero.postlede }}{{ . | markdownify }}{{ end }}</div>
      </div>
    </div>
  </div>
</header>
