{{ "<!-- Mission -->" | safeHTML }}
<section id="mission">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">{{ with .Site.Params.mission.title }}{{ . }}{{ end }}</h2>
        <h3 class="section-subheading text-muted">{{ with .Site.Params.mission.subtitle }}{{ . | markdownify }}{{ end }}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-justify">
        <p>
          {{ .Site.Params.mission.paragraph }}
        </p>
      </div>
    </div>
  </div>
</section>
